.Rproj.user
.Rhistory
.RData
.Ruserdata
# exclude these folders and files
/data/raw/RMS_voorafname_WoS_match v.5.xlsx
/data/raw/Wos advanced search query results_verwerking
/data/processed/percentile_threshold_journals.txt
/data/processed/tidy_WOS_df.txt
