.Rproj.user
.Rhistory
.RData
.Ruserdata
# exclude everything in data
# except these files
!/data/raw/raw_example.txt
!/data/processed/processed_example.txt
!/data/raw/WoS_journal_titel_abbreviations.xlsx
